.Chats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    gap: 0px;
}

.chat-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px;
}

#chat {
    width: 20px ;
    height: 20px;
}

#new-chat {
    width: 244px;
    padding: 12px 16px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
}