.Sidebar {
    background-color: #202226;
    width: 324px;
    padding: 20px;
    border-right: 1.5px solid #2A2E30;
    color: #fff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

figure {
    flex-direction: row;
    gap: 0;
    
}

img {
    width: 40px;
    height: 40px;
}

figcaption {
    font-size: 24px;
}